.footer {
    background-color: #1E2023;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-top: auto;
}

.footer-body {
    display: flex;
    margin-bottom: 5rem
}

.footer-icons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}

.footer-icons .site-name {
    color: var(--secondary-color);
    font-size: 3.2rem;
}

.mobile-links {
    display: flex;
    gap: 2rem;
    width: fit-content;
}

.app-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #0F0F0F;
    color: var(--white-color);
    padding: .8rem 2.4rem;
    border-radius: 1rem;
    transition: background-color ease .4s;
}

.app-links:hover {
    background-color: #2797C8;
}

.app-links i {
    font-size: 2rem;
    color: var(--primary-color);
}

.link-text {
    width: 9rem;
}

.link-text span {
 font-size: 1.1rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.footer-menu-title {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-color);
}

.footer-list-item {
    text-align: center;
    padding-top: 1rem;
}

.footer-list-item a{
    font-size: 1.4rem;
    color: var(--primary-color);
    transition: color ease .4s;
}

.footer-list-item a:hover {
    color: var(--secondary-color);
}

.social-links {
    text-align: center;
}

.social-links i{
    margin: 0 1.2rem;
    font-size: 2.2rem;
    color: var(--primary-color);
    cursor: pointer;
}


@media (max-width: 1330px) {
    .footer-body {

        margin-bottom: 3rem;
    }

    .footer-icons {
        align-items: center;
        margin-bottom: 2rem;
    }

}

@media (max-width: 991px ) {
    .footer-body {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .menu {
        flex-direction: column;
    }

    .footer-menu {
        margin-bottom: 2rem;
    }
}


