*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: var(--white-color);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --primary-color: #F1F1F1;
    --secondary-color: #2797C8;
    --third-color: #212121;
    --white-color: #fff;
}

.general-card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .8rem;
    color: black;
}

a{
    text-decoration: none;
    color: var(--third-color);
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 0 16%;
}

/* RESPONSIVE  */

@media (max-width: 1199px) {
    html {
        font-size: 56.25%;
    }

    .container {
        padding: 0 10%;
    }    
}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .container {
        padding: 0 6%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 48%;
    }

    .container {
        padding: 0 2%;
    }
}